html,
body {
    /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: #1b1924;
  text-align: center;
  color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
  gap: 10px;
  flex-wrap: wrap;
  /* justify-content: center; */
}
img {
  width: 90px;
  margin: 10px auto;
}
#input-txt {
  background-color: #444059;
  height: 80px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  text-align: start;
  color: #8f8f8f;
  row-gap: "5";
}
#publish-btn, #delete-all-btn{
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  /* height: auto; */
  display: inline-block;
  width: 130px;
  /* margin: auto; */
}
ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  color: white;
}
ul li {
    word-wrap: break-word;
  background-color: rgb(91, 119, 242);
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
  height: auto;
}
h1 {
  font-size: 25px;
}
h2 {
  margin: 0;
  color: rgb(255, 4, 4);
}
