html, body {
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: #1B1924;
    text-align: center;
}
.title{
    color: whitesmoke;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    gap: 10px;
    flex-wrap: wrap;
}
img {
    width: 90px;
    margin: 10px auto;
}
#input-txt{
    background-color: #444059;
    height: 80px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    text-align: start;
    color: #8F8F8F;
    row-gap: "5";
    
}
#publish-btn{
    padding: 10px 15px;
    font-size: 25px;
    border-radius: 5px;
}
ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    color: white;
}
ul li{
    background-color: rgb(91, 119, 242);
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
}
h1{
    font-size: 25px;
}